/* General */
:root {
  --light-bg: #FFF4F4;
  --light-text: #333;
  --light-shadow: rgba(0, 0, 0, 0.1);
  --light-btn-bg: #FFF4F4;
  --light-colorText: #4b4b4b;
  --light-uploadBox-hd: #FFF4F4;
  --theme-icon: #211F54;
  --bg-sec: #FFFFFF;
}

[data-theme='dark'] {
  --light-bg: #272626;
  --light-text: #FFFFFF;
  --light-shadow: rgba(42, 42, 42, 0.3);
  --light-btn-bg: #4B4B4B;
  --light-colorText: #d9d9d9;
  --light-uploadBox-hd: #141414;
  --theme-icon: #FFFFFF;
  --bg-sec: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: .3s ease-in-out all;
}

.inactive {
  display: none;
}

/* Header */
.main-header {
  width: 100%;
  height: 63px;
  padding: 10px 15px;
  background-color: var(--light-bg);
  box-shadow: 0 0 40px 0 var(--light-shadow);
  position: fixed;
  top: 0;
  z-index: 3;
}

.header-container {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

#toggle-theme {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 20px;
}

#toggle-theme:focus-visible {
  outline-offset: 4px;
  outline-color: var(--theme-icon);
}

#toggle-theme i {
  font-size: 32px;
  color: var(--theme-icon);
}

/* Section Random Kitties */
.section-random-cats {
  padding: 60px 15px;
  margin-top: 63px;
  background: var(--bg-sec);
}

.random-cats-container {
  max-width: 1050px;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  text-align: center;
  color: var(--light-colorText);
}

.main-gallery-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 35px 0;
}

.image-card {
  position: relative;
  width: 320px;
  min-width: 200px;
  max-width: 480px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.image-card .like-button {
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFF;
  border: none;
  cursor: pointer;
}

.image-card .like-button i {
  font-size: 28px;
  color: #4B4B4B;
  margin-top: 2px;
}

.cat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-box {
  position: relative;
  width: 320px;
  min-width: 200px;
  max-width: 480px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid #4B4B4B;
  border-style: dashed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-box.dragover {
  border-color: #f99b9b;
  background-color: var(--light-uploadBox-hd);
}

.upload-box:hover {
  border-color: #f99b9b;
  background-color: var(--light-uploadBox-hd);
}

.upload-box span,
.upload-box i {
  font-size: 20px;
  color: #4B4B4B;
}

.upload-box i {
  font-size: 34px;
}

input[type='file'] {
  display: none;
}

.upload-box-img {
  position: relative;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
}

#chosen-image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* max-height: 180px; */
  object-fit: cover;
  display: block;
}

#file-name {
  font-size: 0.9em;
  color: #4B4B4B;
  word-break: break-all;
  margin-bottom: 10px;
}

.upload-btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  gap: 15px;
  opacity: 0;
  transform: translateX(-50%);
}

.upload-box:hover .upload-box-img.active .upload-btns {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.upload-file-btn,
.change-image-btn {
  width: 160px;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
}

.upload-btns .upload-file-btn {
  background-color: #f99b9b;
}

.upload-box-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
  cursor: pointer;
}

#refresh-button {
  min-width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-colorText);
  background: var(--light-btn-bg);
  border-radius: 25px;
  border: 2px solid #4B4B4B;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin: 0 auto;
  gap: 10px;
}

#refresh-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px 1px var(--light-shadow);
}

#refresh-button i {
  font-size: 18px;
  font-weight: 600;
}

svg {
  background: var(--bg-sec);
}

path {
  fill: var(--light-bg);
  transform: translateY(2px);
}

.user-content-section {
  background: var(--light-bg);
  padding-bottom: 50px;
  overflow-x: hidden;
}

.user-content-wrapper {
  padding: 0 15px;
}

.tabs-navigation {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-sec);
  margin: 0 auto;
  border-radius: 30px;
  padding: 4px;
  position: relative;
  box-shadow: 0 3px 20px 2px var(--light-shadow);
}

.tabs-navigation .tab-button {
  height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  background: none;
  color: var(--light-text);
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  z-index: 2;
}

.tab-indicator {
  position: absolute;
  width: 48.2%;
  height: 50px;
  left: 4px;
  border: 2px solid #4B4B4B;
  border-radius: 30px;
  background: var(--light-btn-bg);
  z-index: 1;
}

.user-gallery-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 35px 0;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: flex;
  animation: moving .5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}